    <style>
     
      .container_tabla {
        font-family: Arial, sans-serif;
        width: 100%;
        margin: -3.5em auto;
        justify-content: center;
        
        transform: translateX(-2.5em);
      }
      .table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
      }
       .list {
        text-align: center;
        transform: translateX(1.2em);
      }
      .table th,
      .table td {
        border: 1px solid #000;
        padding: 8px;
        text-align: center;
        word-wrap: break-word;
      }
      .table th:first-child,
      .table td:first-child {
        width: 2%;
      }
      .table th {
        background-color: #f2f2f2;
      }
      .list {
        text-align: center;
      }
      .logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1em;
      }
      .logos > p {
        font-size: 0.6em;
        margin-left: 0.3em;
        margin-right: auto;
        transform: translateY(-2.8em);
      }
      .mpj {
        transform: translateX(-32em);
        margin-right: auto;
        left: 0;
      }
      .hrr {
        margin-left: auto;
        transform: translateX(1.3em);
      }
      .mpj,
      .hrr {
        padding-top: 1.5em;
        width: 3.5em;
      }
      .table tbody tr {
        page-break-inside: avoid;
      }
       @page {
        @bottom-center {
          content: "Pagina  " counter(page) " de " counter(pages);
        }
      }
    </style>
  </head>
  <body>
    <div class="container_tabla tabla_pdf">
      <div class="logos">
        <p>REPUBLICA BOLIVARIANA DE VENEZUELA</p>
        <img
          src="{{ url_for('static', filename='css/img/logo.png', _external=True) }}"
          class="mpj"
        />
        <img
          src="{{ url_for('static', filename='css/img/logo2.png', _external=True) }}"
          class="hrr"
        />
      </div>
      <!-- <form method="GET" action="{{ url_for('reportes.listado_no_regist_pdf') }}">
    <label for="filtro">Filtrar por:</label>
    <select name="filtro" id="filtro">
        <option value="todos" {% if filtro == 'todos' %}selected{% endif %}>Todos</option>
        <option value="activos" {% if filtro == 'activos' %}selected{% endif %}>Activos</option>
        <option value="pasivos" {% if filtro == 'pasivos' %}selected{% endif %}>Pasivos</option>
        <option value="comision_vigente" {% if filtro == 'comision_vigente' %}selected{% endif %}>Comisión de Servicio Vigente</option>
        <option value="comision_vencida" {% if filtro == 'comision_vencida' %}selected{% endif %}>Comisión de Servicio Vencida</option>
    </select>
    <button type="submit">Aplicar Filtro</button>
</form> -->
      <h1 class="list">Listado de Personas que no han Recibido la Caja</h1>
      <div class="table-responsive" style="max-height: 400px; overflow-y: auto">
        <table class="table table-striped table-bordered m-auto">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cedula</th>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre Completo</th>
              <th scope="col">Ubicación Fisica</th>
             <th scope="col">Ubicación administrativa</th>
             <th scope="col">Estado</th>
          <th scope="col">Estatus</th>
              
            </tr>
          </thead>
          <tbody>
            {% for registro in registros %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ registro.Cedula }}</td>
              <td>{{ registro.Code }}</td>
              <td>{{ registro.Name_Com }}</td>
             <td>
            {{registro.Location_Physical if registro.Location_Physical else ' '
            }}
          </td>
          <td>
            {{registro.Location_Admin if registro.Location_Admin else " "}}
          </td>
             <td>{{registro.ESTADOS if registro.ESTADOS else " " }}</td>
              <td>
            {% if registro.Estatus == 1 %} Activo {% elif registro.Estatus == 2
            %} Pasivo {% elif registro.Estatus == 3 or registro.Estatus == 4 %}
            Suspendido {% elif registro.Estatus == 5 %} Fuera del país {% elif
            registro.Estatus == 6 %} Fallecido {% elif registro.Estatus == 7 or
            registro.Estatus == 8 %} Se requiere verificar {% elif
            registro.Estatus == 10 %} Comisión de Servicio Vigente{% elif
            registro.Estatus in [9,11] %} Comisión de Servicio Vencida {% else
            %} Desconocido {% endif %}
          </td>
          {% else %}
            </tr>
            {% endfor %} {% if not registros %}
            <tr>
              <td colspan="14">No hay datos disponibles</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <!-- <p class="Nros">Total:<b>{{total_no_entregados}}</b></p> -->
    </div>
  
  </body>
</html>
